
ul{ margin:0; padding:0;}

body {font-family: 'Poppins', sans-serif;   font-size: 15px;color:#fff; background:#000; }
.banner_home{ padding:150px 0 100px;}
.banner_home h1{font-size: 60px;    font-weight: 600;}
.banner_plus{ margin-top:80px}
.banner_plus h4{    font-size: 40px;    font-weight: 400;}
.banner_plus span{border-bottom: 2px solid #ffc600;   display: block;    padding-bottom: 10px;}
.top_bar{    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background: #000;z-index: 9;}
.sidenav {    text-align: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffc600;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menu_btn{ width:45px; cursor: pointer;   display: block;    margin-top: 20px;}
.menu_btn span{display: block;
    background: #fff;
    height: 1px;}
.menu_btn span:nth-child(2){ width:35px;    margin: 12px 0;}

.tc{ text-align:center}
.tr{ text-align:right}
.get_btn{    background: #fff;
    border-radius: 25px;
    padding: 10px 25px;
    color: #000;
    font-weight: 300;
    display: inline-block;
    margin-top: 14px;}

.our_services ul li{ margin-bottom:40px;display: flex;}
.our_services .icon_img{    margin-right: 20px;}
.our_services ul li:first-child, .our_services ul li:last-child{  margin-left:-100px}
.our_ser_h{ display:flex}
.our_ser_h h2{ margin:auto 0}
@media (min-width: 768px){
.technologies .col-md-3 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
}

.technologies_box{ text-align:center}
.technologies_box h5{ margin-top:20px}
.p50{ padding:50px 0}
.hadding_work{ font-size:100px;}
.work_box{  margin-bottom:50px}





